<header class="masthead" [ngStyle]="{ 'background-image' : 'url('+ landing +')'}">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Hope Point Nazarene</div>
        <div class="intro-heading text-uppercase">Sermons</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="scrollToElement(target)">View</a>
      </div>
    </div>
  </header>
  <section id="about" #target>
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="text-muted">We have made it easier to view our sermons on demand.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <div class="carousel slide" data-interval="false" id="hopePointVideos">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let s of sermons?.items; index as i" [ngClass]="i == 0 ? 'active' : ''">
                          <div class="embed-responsive embed-responsive-21by9">
                            <iframe 
                              class="embed-responsive-item" 
                              [src]="sanatizeUrl(s.id.videoId)" 
                              frameborder="0" 
                              allow="encrypted-media" 
                              allowfullscreen
                              >
                            </iframe>
                          </div>
                          <div class="row bg-light">
                            <div class="col-xs-12 d-none">
                              <h3 class="text-center">{{s.snippet.title}}</h3>
                            </div>
                            <div class="col-xs-12 d-none">
                              <p class="text-left">{{s.snippet.channelTitle}}</p>
                              <p class="text-left">{{s.snippet.description}}</p>
                            </div>
                          </div>
                      </div>
                    </div>
                      <a class="carousel-control-prev" href="#hopePointVideos" data-slide="prev">
                          <i class="fas fa-arrow-left"></i>
                      </a>
                      <a class="carousel-control-next" href="#hopePointVideos" data-slide="next">
                          <i class="fas fa-arrow-right"></i>
                      </a>
                  </div>
                  <div class="col-xs-9 col-sm-9 mx-auto bg-light mt-5 p-5">
                      <h4 class="text-center">For more sermons please visit our Youtube channel</h4>
                      <p class="text-center"><a href="https://www.youtube.com/channel/UCZoJnP9s_Wxd0HPzl47evyA/" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a></p>
                  </div>
            </div>
          </div>
        </div>
  </section>