<header class="masthead" [ngStyle]="{ 'background-image' : 'url('+ landing +')'}">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Hope Point Nazarene</div>
        <div class="intro-heading text-uppercase">S.W.A.G Ministry</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="scrollToElement(target)">Events</a>
      </div>
    </div>
  </header>
  <section id="about" #target>
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">About</h2>
              <h3 class="section-subheading text-muted">SWAG gives 4th and 5th graders a fun and safe place to play, serve, share and dig into the word. Friends are always welcome!.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li *ngFor="let e of events; let index=index; let odd=odd; let even=even;" [ngClass]="odd ? 'timeline-inverted' : ''">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>{{e.date | date:"EEEE"}}, {{ e.date | date:"MMM" }} {{e.date | date:"dd"}}</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" [innerHTML]="sanatizeHtml(e.event_description)"></p>
                      <p class="text-muted"><strong>When: </strong>{{ e.date + 'T' + e.start_time | date:"shortTime" }}</p>
                      <p class="text-muted" [innerHTML]="returnLocation(e.location)"></p>
                      <p class="text-muted"><strong>Contact: </strong> {{e.leader_name}}</p>
                      <p class="text-muted" [innerHtml]="returnContact(e.leader_phone)"></p>
                      <p class="text-muted" [innerHTML]="returnEmail(e.leader_email, e.event_name)"></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </section>
