<header class="masthead" [ngStyle]="{ 'background-image' : 'url('+ landing +')'}">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Hope Point Nazarene</div>
        <div class="intro-heading text-uppercase">Men's Ministry</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="scrollToElement(target)">Events</a>
      </div>
    </div>
  </header>
  <section id="about" #target>
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">About</h2>
            </div>
            <div class="col-lg-12 text-center py-2">
                At <strong>Hope Point Nazarene</strong>, we welcome all men without judgement. Our aim is to connect you to God and others, with a result of life on mission towards God’s purposes. Through various seasonal events, Bible studies, and opportunities to serve, the Men’s Ministry ignites passion for the Great Commandment and Great Commission in the heart of every man.
              </div>
              <div class="col-lg-12 text-center py-2">
                <h5>DIVE INTO THE WORD</h5>
                <p>
                “No man is an island” . . . that’s not just pretty prose. It’s hard-core reality. Isolation, especially for men, is dangerous. Throughout the week we have bible studies, small groups and a weekly Friday morning breakfast to get plugged into Hope Point Men’s ministry. Real men come out of their caves and find community with each other. Click below to get more information today.
                </p>
              </div>
              <div class="col-lg-12 text-center py-2">
                <h5>RETREATS</h5>
                <p>
                  Sometimes you just need to get away and get with God. That’s why our Men’s Fall retreat is the ideal place to unplug from life and connect with others.
                </p>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li *ngFor="let e of events; let index=index; let odd=odd; let even=even;" [ngClass]="odd ? 'timeline-inverted' : ''">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>{{e.date | date:"EEEE"}}, {{ e.date | date:"MMM" }} {{e.date | date:"dd"}}</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" [innerHTML]="sanatizeHtml(e.event_description)"></p>
                      <p class="text-muted"><strong>When: </strong>{{ e.date + 'T' + e.start_time | date:"shortTime" }}</p>
                      <p class="text-muted" [innerHTML]="returnLocation(e.location)"></p>
                      <p class="text-muted"><strong>Contact: </strong> {{e.leader_name}}</p>
                      <p class="text-muted" [innerHtml]="returnContact(e.leader_phone)"></p>
                      <p class="text-muted" [innerHTML]="returnEmail(e.leader_email, e.event_name)"></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </section>