<header class="masthead" [ngStyle]="{ 'background-image' : 'url(/assets/images/backgrounds/BrickPatio_BG.jpg)'}">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Hope Point Nazarene</div>
        <div class="intro-heading text-uppercase">Welcome Home</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="scrollToElement(target)">Get Connected</a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section id="services" #target>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            The Brick Patio is the welcoming platform at Hope Point. It is located to the right of the main entrance.
            Anyone is welcomed to visit and learn <a href="about-hope-point"><strong>more about</strong></a> Hope Point, who we are, what our mission is,
            and how we can get you connected with your fellow church members. Please swing by before or after either service on Sunday mornings. We look forward to talking to you!
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Hope Point Connections</h2>
          <h3 class="section-subheading text-muted">Let's get you connected.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="base + '/assets/images/backgrounds/IAmHopePoint_BG.jpg'" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>I am Hope Point</h4>
            <p class="text-muted">Lend a helping hand</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="base + '/assets/images/backgrounds/Baptism_BG.jpg'" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Baptisms</h4>
            <p class="text-muted">Give your live to Christ</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="base + '/assets/images/backgrounds/SitOneServeOne_BG.jpg'" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Sit One, Serve One</h4>
            <p class="text-muted">Volunteer</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="base + '/assets/images/backgrounds/Community_BG.jpg'" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Community</h4>
            <p class="text-muted">Outreach</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">I am Hope Point</h2>
                <p class="item-intro text-muted">Becoming a member.</p>
                <img class="img-fluid d-block mx-auto" [src]="base + '/assets/images/backgrounds/IAmHopePoint_BG.jpg'" alt="">
                <p>Are you interested in knowing more about Hope Point? Are you wanting to become a member? Take our monthly class to become a member so you can answer the question, “Why Hope Point?”.	You are also welcome to join us for lunch to meet Pastor Doug and the Hope Point Staff. Hear the vision of our church, and how you can connect.</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Baptisms</h2>
                <img class="img-fluid d-block mx-auto" [src]="base + '/assets/images/backgrounds/Baptism_BG.jpg'" alt="">
                <p>An outward expression of a decision to follow Jesus Christ as savior and Lord of your life. To learn more or to schedule your baptism please email us.</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Sit One, Serve One</h2>
                <img class="img-fluid d-block mx-auto" [src]="base + '/assets/images/backgrounds/SitOneServeOne_BG.jpg'" alt="">
                <p>Want to connect to people? Volunteer! Sit one service and serve the other. We have many opportunities on Sunday morning that we would love to see you take advantage of!</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Community</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" [src]="base + '/assets/images/backgrounds/Community_BG.jpg'" alt="">
                <p>At 10am every 3rd Thursday of the month we take coffee and breakfast to our friends at the Riverbottoms. We spend talking about life and the love of Jesus. The bike kitchen was started to help our homeless community. Every 3rd Thursday a group of volunteers takes bike locks, parts and tools to the riverbottoms and set up our own bike repair shop. It’s a way to not only help our homeless community but build relationships with some amazing people. Visit our <a class="link" href="missions/project-hope">Project Hope Page</a> for more information.</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  