<header class="masthead" [ngStyle]="{ 'background-image' : 'url('+ landing +')'}">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Hope Point Community Outreach</div>
        <div class="intro-heading text-uppercase">Project Hope</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="scrollToElement(target)">Events</a>
      </div>
    </div>
  </header>
  <section id="about" #target>
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">About</h2>
            </div>
            <div class="col-lg-12 text-center py-2">
              <p>
                  At 10am every 3rd Thursday of the month we take coffee and breakfast to our friends at the Riverbottoms. We spend time talking about life and the love of Jesus.
              </p>                
              </div>
              <div class="col-lg-12 text-center py-2">
                <p>
                    The bike kitchen was started to help our homeless community. Every 3rd Thursday a group of volunteers takes bike locks, parts and tools to the riverbottoms to set up our own bike repair shop. It’s a way to not only help our homeless community but build relationships with some amazing people.
                </p>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li *ngFor="let e of events; let index=index; let odd=odd; let even=even;" [ngClass]="odd ? 'timeline-inverted' : ''">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>{{e.date | date:"EEEE"}}, {{ e.date | date:"MMM" }} {{e.date | date:"dd"}}</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" [innerHTML]="sanatizeHtml(e.event_description)"></p>
                      <p class="text-muted"><strong>When: </strong>{{ e.date + 'T' + e.start_time | date:"shortTime" }}</p>
                      <p class="text-muted" [innerHTML]="returnLocation(e.location)"></p>
                      <p class="text-muted"><strong>Contact: </strong> {{e.leader_name}}</p>
                      <p class="text-muted" [innerHtml]="returnContact(e.leader_phone)"></p>
                      <p class="text-muted" [innerHTML]="returnEmail(e.leader_email, e.event_name)"></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </section>

